<div class="card bg-dark m-3">
  <a class="text-white" href="/post/{{id}}" class="card-link">
    <h2 class="card-header">{{title}}</h2>
  </a>
  <div class="card-body border-bottom">
    <h5 class="card-title text-white">Post by: {{user.username}} on {{format_date date_created}}</h5>
    <p class="card-text text-white">{{body}}</p>
  </div>
  {{#if comments.length}}
  <h4 class="text-white mt-1 pl-3">Comments:</h4>
  {{#each comments as |comment|}}
  <div class="media mt-3 mr-2 ml-2 mb-2 bg-white">
    <div class="media-body pl-3 text-dark">
      <p>Comment posted by: {{user.username}} on {{format_date created_at}}</p>
      <h6>{{comment.comment}}</h6>
    </div>
  </div>
  {{/each}}
  {{/if}}

  {{#if logged_in}}
  <form class="new-comment border-top mt-3">
    <h4 class="text-white mt-1 pl-3">Add New Comment</h4>
    <div class="form-group mt-2 pl-2 pr-2">
      <input class="form-control" type="text" id="reader-comment" />
    </div>
    <div class="form-group pl-2">
      <button type="submit" class="btn">Submit Comment</button>
    </div>
  </form>

  {{!-- add comment js will go here --}}
  <script src="/js/comment.js"></script>
  {{/if}}

</div>